body{
	font-size: 2em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-weight: 400;
	font-family: 'EB Garamond', serif;
	background-color: #0f0f0f;
	color: #cfcfcf;
}
a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
nav>.container {
	width: 100%;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
}
.navbar-item {
  display: block;
  float: left;
}
@media (min-width: 400px) {
.navbar-item {
    display: inline;
    float: left;
}
}
.navbar-link {
	display: block;
	margin-right: 35px;
}

.cv {
	padding-left: 22px;
	text-indent: -22px;
}

.auth {
	display: none;
}
